
body{
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 1em;
    color:black;
}

a {
    text-decoration: none;
    color:black;
}

.row {
    display: flex;
}

.column {
    flex:1;
    width: 50%;
    
}
#column2{
    
}
img {
    height: 1rem;
    width: 1rem;
}

