

.navbar {
    margin: 1em;
    color:black;
    display: flex;
    justify-content: flex-end;
    
}


a {
    text-decoration: none;
    color:black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    height: 125px;
    width: 125px;
    padding-right: 100px;
}
#column2 {
    background-color: blue;
}